<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sbw.finance.biz.mapper.VoucherSubjectAssistCalculateDetailMapper">
  <resultMap id="BaseResultMap" type="com.sbw.finance.biz.domain.VoucherSubjectAssistCalculateDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="voucher_id" jdbcType="BIGINT" property="voucherId" />
    <result column="subject_id" jdbcType="BIGINT" property="subjectId" />
    <result column="voucher_subject_detail_id" jdbcType="BIGINT" property="voucherSubjectDetailId" />
    <result column="assist_calculate_cate_id" jdbcType="BIGINT" property="assistCalculateCateId" />
    <result column="assist_calculate_cate_code" jdbcType="VARCHAR" property="assistCalculateCateCode" />
    <result column="assist_calculate_id" jdbcType="BIGINT" property="assistCalculateId" />
    <result column="assist_calculate_code" jdbcType="VARCHAR" property="assistCalculateCode" />
    <result column="assist_calculate_name" jdbcType="BIGINT" property="assistCalculateName" />
    <result column="tenant_id" jdbcType="BIGINT" property="tenantId" />
    <result column="disable" jdbcType="BIT" property="disable" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="update_member_id" jdbcType="BIGINT" property="updateMemberId" />
    <result column="del_flag" jdbcType="BIT" property="delFlag" />
    <result column="row_no" jdbcType="INTEGER" property="rowNo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, voucher_id, subject_id, voucher_subject_detail_id, assist_calculate_cate_id, 
    assist_calculate_cate_code, assist_calculate_id, assist_calculate_code, assist_calculate_name, 
    tenant_id, disable, create_time, update_time, member_id, update_member_id, del_flag, 
    row_no
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from voucher_subject_assist_calculate_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from voucher_subject_assist_calculate_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sbw.finance.biz.domain.VoucherSubjectAssistCalculateDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into voucher_subject_assist_calculate_detail (voucher_id, subject_id, voucher_subject_detail_id, 
      assist_calculate_cate_id, assist_calculate_cate_code, 
      assist_calculate_id, assist_calculate_code, 
      assist_calculate_name, tenant_id, disable, 
      create_time, update_time, member_id, 
      update_member_id, del_flag, row_no
      )
    values (#{voucherId,jdbcType=BIGINT}, #{subjectId,jdbcType=BIGINT}, #{voucherSubjectDetailId,jdbcType=BIGINT}, 
      #{assistCalculateCateId,jdbcType=BIGINT}, #{assistCalculateCateCode,jdbcType=VARCHAR}, 
      #{assistCalculateId,jdbcType=BIGINT}, #{assistCalculateCode,jdbcType=VARCHAR}, 
      #{assistCalculateName,jdbcType=BIGINT}, #{tenantId,jdbcType=BIGINT}, #{disable,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{memberId,jdbcType=BIGINT}, 
      #{updateMemberId,jdbcType=BIGINT}, #{delFlag,jdbcType=BIT}, #{rowNo,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sbw.finance.biz.domain.VoucherSubjectAssistCalculateDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into voucher_subject_assist_calculate_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="voucherId != null">
        voucher_id,
      </if>
      <if test="subjectId != null">
        subject_id,
      </if>
      <if test="voucherSubjectDetailId != null">
        voucher_subject_detail_id,
      </if>
      <if test="assistCalculateCateId != null">
        assist_calculate_cate_id,
      </if>
      <if test="assistCalculateCateCode != null">
        assist_calculate_cate_code,
      </if>
      <if test="assistCalculateId != null">
        assist_calculate_id,
      </if>
      <if test="assistCalculateCode != null">
        assist_calculate_code,
      </if>
      <if test="assistCalculateName != null">
        assist_calculate_name,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
      <if test="disable != null">
        disable,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="updateMemberId != null">
        update_member_id,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="rowNo != null">
        row_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="voucherId != null">
        #{voucherId,jdbcType=BIGINT},
      </if>
      <if test="subjectId != null">
        #{subjectId,jdbcType=BIGINT},
      </if>
      <if test="voucherSubjectDetailId != null">
        #{voucherSubjectDetailId,jdbcType=BIGINT},
      </if>
      <if test="assistCalculateCateId != null">
        #{assistCalculateCateId,jdbcType=BIGINT},
      </if>
      <if test="assistCalculateCateCode != null">
        #{assistCalculateCateCode,jdbcType=VARCHAR},
      </if>
      <if test="assistCalculateId != null">
        #{assistCalculateId,jdbcType=BIGINT},
      </if>
      <if test="assistCalculateCode != null">
        #{assistCalculateCode,jdbcType=VARCHAR},
      </if>
      <if test="assistCalculateName != null">
        #{assistCalculateName,jdbcType=BIGINT},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="disable != null">
        #{disable,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="updateMemberId != null">
        #{updateMemberId,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BIT},
      </if>
      <if test="rowNo != null">
        #{rowNo,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sbw.finance.biz.domain.VoucherSubjectAssistCalculateDetail">
    update voucher_subject_assist_calculate_detail
    <set>
      <if test="voucherId != null">
        voucher_id = #{voucherId,jdbcType=BIGINT},
      </if>
      <if test="subjectId != null">
        subject_id = #{subjectId,jdbcType=BIGINT},
      </if>
      <if test="voucherSubjectDetailId != null">
        voucher_subject_detail_id = #{voucherSubjectDetailId,jdbcType=BIGINT},
      </if>
      <if test="assistCalculateCateId != null">
        assist_calculate_cate_id = #{assistCalculateCateId,jdbcType=BIGINT},
      </if>
      <if test="assistCalculateCateCode != null">
        assist_calculate_cate_code = #{assistCalculateCateCode,jdbcType=VARCHAR},
      </if>
      <if test="assistCalculateId != null">
        assist_calculate_id = #{assistCalculateId,jdbcType=BIGINT},
      </if>
      <if test="assistCalculateCode != null">
        assist_calculate_code = #{assistCalculateCode,jdbcType=VARCHAR},
      </if>
      <if test="assistCalculateName != null">
        assist_calculate_name = #{assistCalculateName,jdbcType=BIGINT},
      </if>
      <if test="tenantId != null">
        tenant_id = #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="disable != null">
        disable = #{disable,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="updateMemberId != null">
        update_member_id = #{updateMemberId,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=BIT},
      </if>
      <if test="rowNo != null">
        row_no = #{rowNo,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sbw.finance.biz.domain.VoucherSubjectAssistCalculateDetail">
    update voucher_subject_assist_calculate_detail
    set voucher_id = #{voucherId,jdbcType=BIGINT},
      subject_id = #{subjectId,jdbcType=BIGINT},
      voucher_subject_detail_id = #{voucherSubjectDetailId,jdbcType=BIGINT},
      assist_calculate_cate_id = #{assistCalculateCateId,jdbcType=BIGINT},
      assist_calculate_cate_code = #{assistCalculateCateCode,jdbcType=VARCHAR},
      assist_calculate_id = #{assistCalculateId,jdbcType=BIGINT},
      assist_calculate_code = #{assistCalculateCode,jdbcType=VARCHAR},
      assist_calculate_name = #{assistCalculateName,jdbcType=BIGINT},
      tenant_id = #{tenantId,jdbcType=BIGINT},
      disable = #{disable,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      member_id = #{memberId,jdbcType=BIGINT},
      update_member_id = #{updateMemberId,jdbcType=BIGINT},
      del_flag = #{delFlag,jdbcType=BIT},
      row_no = #{rowNo,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="list" parameterType="com.sbw.mybatis.help.MyBatisWrapper" resultMap="BaseResultMap">
        <include refid="listSql"/>
    </select>
    <sql id="listSql">
        select
        <if test="selectBuilder == null">
            *
        </if>
        <if test="selectBuilder != null">
            <trim prefixOverrides="," suffixOverrides=",">
                ${selectBuilder}
            </trim>
        </if>
        from voucher_subject_assist_calculate_detail
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="groupBySql != null">
            group by ${groupBySql}
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="rows != null">
            <if test="offset != null">
                limit ${offset}, ${rows}
            </if>
            <if test="offset == null">
                limit ${rows}
            </if>
        </if>
    </sql>
  <sql id="Example_Where_Clause">
   <where>
            <trim prefixOverrides="and | or">
                <foreach collection="oredCriteria" item="criteria">
                    <if test="criteria.valid">
                        <if test="criteria.andOrOr">
                            and
                        </if>
                        <if test="!criteria.andOrOr">
                            or
                        </if>
                        <trim prefix="(" prefixOverrides="and | or" suffix=")">
                            <foreach collection="criteria.criteria" item="criterion">
                                <choose>
                                    <when test="criterion.noValue">
                                        ${criterion.condition}
                                    </when>
                                    <when test="criterion.singleValue">
                                        ${criterion.condition} #{criterion.value, jdbcType=${criterion.jdbcType}}
                                    </when>
                                    <when test="criterion.betweenValue">
                                        ${criterion.condition} #{criterion.value, jdbcType=${criterion.jdbcType}} and #{criterion.secondValue, jdbcType=${criterion.jdbcType}}
                                    </when>
                                    <when test="criterion.listValue">
                                        ${criterion.condition}
                                        <foreach close=")" collection="criterion.value" item="listItem" open="("
                                                 separator=",">
                                            #{listItem, jdbcType=${criterion.jdbcType}}
                                        </foreach>
                                    </when>
                                </choose>
                            </foreach>
                        </trim>
                    </if>
                </foreach>
            </trim>
        </where></sql>
    <select id="topOne" parameterType="com.sbw.mybatis.help.MyBatisWrapper" resultMap="BaseResultMap">
    select
    <if test="selectBuilder != null">
      <trim prefixOverrides="," suffixOverrides=",">
         ${selectBuilder} 
      </trim>
    </if>
    from voucher_subject_assist_calculate_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 1
  </select>

  <select id="count" parameterType="com.sbw.mybatis.help.MyBatisWrapper" resultType="java.lang.Integer">
        <include refid="countSql"/>
    </select>
    <sql id="countSql">
        select count(*) total_count from voucher_subject_assist_calculate_detail
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </sql>
  <update id="updateField" parameterType="com.sbw.mybatis.help.MyBatisWrapper">
    update voucher_subject_assist_calculate_detail 
    set 
    <trim prefixOverrides="," suffixOverrides=",">
         ${example.updateSql} 
      </trim>
     <if test="example.updateSql != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <sql id="Update_By_Example_Where_Clause">
   <where>
            <trim prefixOverrides="and | or">
                <foreach collection="example.oredCriteria" item="criteria">
                    <if test="criteria.andOrOr">
                        and
                    </if>
                    <if test="!criteria.andOrOr">
                        or
                    </if>
                    <if test="criteria.valid">
                        <trim prefix="(" prefixOverrides="and" suffix=")">
                            <foreach collection="criteria.criteria" item="criterion">
                                <choose>
                                    <when test="criterion.noValue">
                                        ${criterion.condition}
                                    </when>
                                    <when test="criterion.singleValue">
                                        ${criterion.condition} #{criterion.value, jdbcType=${criterion.jdbcType}}
                                    </when>
                                    <when test="criterion.betweenValue">
                                        ${criterion.condition} #{criterion.value, jdbcType=${criterion.jdbcType}} and #{criterion.secondValue, jdbcType=${criterion.jdbcType}}
                                    </when>
                                    <when test="criterion.listValue">
                                        ${criterion.condition}
                                        <foreach close=")" collection="criterion.value" item="listItem" open="("
                                                 separator=",">
                                            #{listItem, jdbcType=${criterion.jdbcType}}
                                        </foreach>
                                    </when>
                                </choose>
                            </foreach>
                        </trim>
                    </if>
                </foreach>
            </trim>
        </where></sql>
   <update id="updateFieldBatch" parameterType="java.util.List">
           <foreach collection="list" index="index" item="example" separator=";">
               update voucher_subject_assist_calculate_detail 
                   set 
               <trim prefixOverrides="," suffixOverrides=",">
                   ${example.updateSql} 
               </trim>
               <if test="example != null">
                   <include refid="Update_By_Example_Where_Clause" />
               </if>           </foreach>
  </update>
    <select id="get" parameterType="com.sbw.mybatis.help.MyBatisWrapper" resultMap="BaseResultMap">
    select
    <if test="selectBuilder != null">
      <trim prefixOverrides="," suffixOverrides=",">
         ${selectBuilder} 
      </trim>
    </if>
    from voucher_subject_assist_calculate_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <update id="updateBatchSelective" parameterType="java.util.List">
    update voucher_subject_assist_calculate_detail
   <trim prefix="set" suffixOverrides=",">
      <trim prefix="id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.id != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.id,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
  </trim>
   <trim prefix="set" suffixOverrides=",">
      <trim prefix="voucher_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.voucherId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.voucherId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
  </trim>
   <trim prefix="set" suffixOverrides=",">
      <trim prefix="subject_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.subjectId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.subjectId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
  </trim>
   <trim prefix="set" suffixOverrides=",">
      <trim prefix="voucher_subject_detail_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.voucherSubjectDetailId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.voucherSubjectDetailId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
  </trim>
   <trim prefix="set" suffixOverrides=",">
      <trim prefix="assist_calculate_cate_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.assistCalculateCateId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.assistCalculateCateId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
  </trim>
   <trim prefix="set" suffixOverrides=",">
      <trim prefix="assist_calculate_cate_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.assistCalculateCateCode != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.assistCalculateCateCode,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
  </trim>
   <trim prefix="set" suffixOverrides=",">
      <trim prefix="assist_calculate_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.assistCalculateId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.assistCalculateId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
  </trim>
   <trim prefix="set" suffixOverrides=",">
      <trim prefix="assist_calculate_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.assistCalculateCode != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.assistCalculateCode,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
  </trim>
   <trim prefix="set" suffixOverrides=",">
      <trim prefix="assist_calculate_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.assistCalculateName != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.assistCalculateName,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
  </trim>
   <trim prefix="set" suffixOverrides=",">
      <trim prefix="tenant_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.tenantId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.tenantId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
  </trim>
   <trim prefix="set" suffixOverrides=",">
      <trim prefix="disable = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.disable != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.disable,jdbcType=BIT}
          </if>
        </foreach>
      </trim>
  </trim>
   <trim prefix="set" suffixOverrides=",">
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
  </trim>
   <trim prefix="set" suffixOverrides=",">
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
  </trim>
   <trim prefix="set" suffixOverrides=",">
      <trim prefix="member_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.memberId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.memberId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
  </trim>
   <trim prefix="set" suffixOverrides=",">
      <trim prefix="update_member_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateMemberId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.updateMemberId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
  </trim>
   <trim prefix="set" suffixOverrides=",">
      <trim prefix="del_flag = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.delFlag != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.delFlag,jdbcType=BIT}
          </if>
        </foreach>
      </trim>
  </trim>
   <trim prefix="set" suffixOverrides=",">
      <trim prefix="row_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.rowNo != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.rowNo,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
  </trim>
  where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
</update>

  <insert id="insertBatch" keyColumn="id" keyProperty="id" parameterType="java.util.Collection" useGeneratedKeys="true">
    insert into voucher_subject_assist_calculate_detail (voucher_id, subject_id, voucher_subject_detail_id, assist_calculate_cate_id, assist_calculate_cate_code, assist_calculate_id, assist_calculate_code, assist_calculate_name, tenant_id, disable, create_time, update_time, member_id, update_member_id, del_flag, row_no) values
    <foreach collection="list" index="index" item="item" separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        #{item.voucherId, jdbcType=BIGINT},
        #{item.subjectId, jdbcType=BIGINT},
        #{item.voucherSubjectDetailId, jdbcType=BIGINT},
        #{item.assistCalculateCateId, jdbcType=BIGINT},
        #{item.assistCalculateCateCode, jdbcType=VARCHAR},
        #{item.assistCalculateId, jdbcType=BIGINT},
        #{item.assistCalculateCode, jdbcType=VARCHAR},
        #{item.assistCalculateName, jdbcType=BIGINT},
        #{item.tenantId, jdbcType=BIGINT},
        #{item.disable, jdbcType=BIT},
        #{item.createTime, jdbcType=TIMESTAMP},
        #{item.updateTime, jdbcType=TIMESTAMP},
        #{item.memberId, jdbcType=BIGINT},
        #{item.updateMemberId, jdbcType=BIGINT},
        #{item.delFlag, jdbcType=BIT},
        #{item.rowNo, jdbcType=INTEGER},
      </trim>
    </foreach>
  </insert>
  <insert id="insertBatchSelective" keyColumn="id" parameterType="java.util.List">
    <foreach collection="list" index="index" item="item" separator=";">
      insert into voucher_subject_assist_calculate_detail 
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="item.voucherId != null">
          voucher_id,
        </if>
        <if test="item.subjectId != null">
          subject_id,
        </if>
        <if test="item.voucherSubjectDetailId != null">
          voucher_subject_detail_id,
        </if>
        <if test="item.assistCalculateCateId != null">
          assist_calculate_cate_id,
        </if>
        <if test="item.assistCalculateCateCode != null">
          assist_calculate_cate_code,
        </if>
        <if test="item.assistCalculateId != null">
          assist_calculate_id,
        </if>
        <if test="item.assistCalculateCode != null">
          assist_calculate_code,
        </if>
        <if test="item.assistCalculateName != null">
          assist_calculate_name,
        </if>
        <if test="item.tenantId != null">
          tenant_id,
        </if>
        <if test="item.disable != null">
          disable,
        </if>
        <if test="item.createTime != null">
          create_time,
        </if>
        <if test="item.updateTime != null">
          update_time,
        </if>
        <if test="item.memberId != null">
          member_id,
        </if>
        <if test="item.updateMemberId != null">
          update_member_id,
        </if>
        <if test="item.delFlag != null">
          del_flag,
        </if>
        <if test="item.rowNo != null">
          row_no,
        </if>
      </trim>
       values 
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="item.voucherId != null">
          #{item.voucherId, jdbcType=BIGINT},
        </if>
        <if test="item.subjectId != null">
          #{item.subjectId, jdbcType=BIGINT},
        </if>
        <if test="item.voucherSubjectDetailId != null">
          #{item.voucherSubjectDetailId, jdbcType=BIGINT},
        </if>
        <if test="item.assistCalculateCateId != null">
          #{item.assistCalculateCateId, jdbcType=BIGINT},
        </if>
        <if test="item.assistCalculateCateCode != null">
          #{item.assistCalculateCateCode, jdbcType=VARCHAR},
        </if>
        <if test="item.assistCalculateId != null">
          #{item.assistCalculateId, jdbcType=BIGINT},
        </if>
        <if test="item.assistCalculateCode != null">
          #{item.assistCalculateCode, jdbcType=VARCHAR},
        </if>
        <if test="item.assistCalculateName != null">
          #{item.assistCalculateName, jdbcType=BIGINT},
        </if>
        <if test="item.tenantId != null">
          #{item.tenantId, jdbcType=BIGINT},
        </if>
        <if test="item.disable != null">
          #{item.disable, jdbcType=BIT},
        </if>
        <if test="item.createTime != null">
          #{item.createTime, jdbcType=TIMESTAMP},
        </if>
        <if test="item.updateTime != null">
          #{item.updateTime, jdbcType=TIMESTAMP},
        </if>
        <if test="item.memberId != null">
          #{item.memberId, jdbcType=BIGINT},
        </if>
        <if test="item.updateMemberId != null">
          #{item.updateMemberId, jdbcType=BIGINT},
        </if>
        <if test="item.delFlag != null">
          #{item.delFlag, jdbcType=BIT},
        </if>
        <if test="item.rowNo != null">
          #{item.rowNo, jdbcType=INTEGER},
        </if>
      </trim>
    </foreach>
  </insert>
</mapper>